.error {
	color: red;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#menu li {
    display: inline;
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

.keys label {
  float: left;
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

#io {
    position: static;
    float: left;
    width: 20%;
    margin: 12px;
    float: left;
}

#io > textarea {
    border: 3px solid #0080ff;
    float: left;
    width: 60%;
    height: 200px;
    margin: 5px;
}
